{% extends 'nav.html' %}
{% block title %} 
AispaceX Login
{% endblock title %} 
{% block style %}
<style>
   
</style>
{% endblock style %}
{% block body %} 
<section id='contact' class='contact'>
    <div class='container'>

        <div class='section-title' data-aos='fade-up'>
<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-4'>
        <br>
<h1 data-aos='fade-up'>Login</h1> 
<div class='container' data-aos='fade-up' data-aos-delay='400'>
<form  action="/ecommerceauth/login/" method="post">{% csrf_token %}
    <input type='hidden' name='csrfmiddlewaretoken' value='QHhYabuHOeH3vzXz16fh10jvwKVWei3kCEe5HX%dzimQ3WqMgCtlXb4T'>
    
      <br>
      <label  for="email">Email</label>
      <div class='form-group'>
      <input type="email" class="form-control " id="email" name="email" required>
      </div>
      <label for="Pass1">Password</label>
      <div class='form-group'>
      <input type="password" class="form-control " name="pass1" id="pass1" required>
      </div>
  <br>
    <button type="submit" class="form-control bg-success text-white">Login</button>
    <br>
    <hr>
   Not Already User? <a href='/ecommerceauth/signup'>SignUp</a>
   <br>
   <br>
   <span>Forget Password?<a href='/ecommerceauth/request-reset-email'>Reset</a></span>
   <br>
   
  </form>
</div>
</div>
    <div class='col-md-6'></div>
</div>
</div>
</div>
</section>
{% endblock body %}